.logWrapper {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logWrapper .form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px lime;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .logWrapper form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .logWrapper h1 {
    text-align: center;
    color: #222;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .logWrapper input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #222;
    border-left: 05px solid #83B81A;
  }
  
  .logWrapper input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }

  .logWrapper span{
    color: red;
  }
  
  .logWrapper  .username,
  .logWrapper  .password {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 15px;
  }
  
  .logWrapper .username,
  .logWrapper .password {
    width: 100%;
  }
  .loginAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginAccount .logSumbit {
    background-color: #83B81A;
    color: #1B1B1B;
    border: 2px solid #1B1B1B;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    transition: all 0.5s ease;
  }
  
  .loginAccount .logSumbit:hover {
    color: #1B1B1B;
    background-color: #fff;
    border: 2px solid #1B1B1B;
  }
  
  .logWrapper .regButton {
    color: black;
    font-weight: lighter;
    font-size: large;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }