.computerSelect {
    box-shadow: 0px 5px 30px lime;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    width: 50%;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    margin-bottom: 5%;
    margin-left: 25%;
   
}

.computerSelect:hover {
    box-shadow: 0px 10px 50px lime;
}

.computerSelect img {
    border-radius: 5px 5px 0 0;
    width: 400px;
}

.computerSelect .container {
    padding: 2px 16px;
}
.computerSelect .linkButton {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:0 solid #444; 
    border-left: 05px solid #83B81A;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}






